In the following project, we will be performing a series of analyses on data gathered from a health and wellbeing app.

The objective of the analyses will be as follows:
- Who are the primary users of the app?
- What customer segments are the most profitable?
- Are there 


The project workflow will be as follows:
1. Generate synthetic data
2. Load to MySQL database
2. Analyses
    1. Funnel analysis
    2. Cohort analysis
    3. Customer segmentation
    


In the following project, we will be simulated user data for a health and wellness app that provides services for people having trouble with anxiety, insomnia, and other related illnesses.

Since there are no publically available datasets for this, we will be simulating data ourselves.

We will then perform the following analyses to derive insights on user behavior:
- funnel analysis
- cohort analysis
- 

The data will contain the following:
uuid: the unique user id of the user.
signup_date: date an individual user started using a service.
event_datetime: date and time an individual actively used a service.
feedback_rating: rating out of 5 of how useful the user found the session to be.

profile
- uuid: unique user id
- age: user age
- gender: male, female, non-binary
- location: 
- subscription: whether a user has a subscription or not

services
- type: General Counseling, Guided Meditation, Body Scan, Sound Meditation, Visualization
- price: price of each service
- category: category of service


events
- uuid: unique user id
- datetime_begin: date and time user started session
- datetime_end: date and time user ended session
- service: which service they used
- rating: what they rate the service after they've completed it
- mood before: rating out of 5
- mood after: rating out of 5
- device used: device used by user
- completion status: whether the user completed the session.

### Generating synthetic data.

In [111]:
import numpy as np
import pandas as pd
import uuid

#In the following functions we generate the data for the events dataframe.
def user_id(n):
    return [str(uuid.uuid4()) for _ in range(1, n + 1, 1)]

def datetime(n):
    return pd.date_range('2021-01-01', '2023-01-01', periods = n)

def session_length(n):
    return np.random.randint(1, 121, size = n)

def rating(n):
    return np.random.randint(1, 6, size = n)

def device(n):
    return np.random.choice(['iPhone', 'Android', 'Windows Phone', 'Desktop'], size = n) 

def status(n):
    return np.random.choice(['Complete', 'Incomplete'], size = n)


#Generate events dataframe.
def generate_df(n):
    return pd.DataFrame({
        'uid': user_id(n),
        'datetime': datetime(n),
        'session_length': session_length(n),
        'rating': rating(n),
        'device': device(n),
        'status': status(n)
    })

In [114]:
df = generate_df(1000)

In [115]:
df.head()

,uid,datetime,session_length,rating,device,status
0,0f95edac-1caf-4168-aa14-230576041bb4,2021-01-01 00:00:00.000000000,25,4,iPhone,Incomplete
1,fd4984b4-fc84-4fdf-b168-d0078f840019,2021-01-01 17:32:15.135135135,28,4,Android,Complete
2,179e2b6e-4e8c-4a0c-be16-1f73601c6ab8,2021-01-02 11:04:30.270270270,49,4,Android,Incomplete
3,cf3715b6-30f2-4dc1-b8fb-0e8910f68087,2021-01-03 04:36:45.405405405,104,3,Desktop,Incomplete
4,3252cfc5-8c5f-4d4e-a06f-b00433e3c38c,2021-01-03 22:09:00.540540540,19,2,Windows Phone,Incomplete

In [118]:
df.device.apply(lambda x: 1 if x == 'iPhone' )

0      1
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    1
999    0
Name: device, Length: 1000, dtype: int64

In [ ]:
#How would you select the first 10 rows of a pandas DataFrame?
df[:10]

#Given a pandas DataFrame with columns 'A', 'B', and 'C', how would you create a new DataFrame that contains only columns 'A' and 'C'?
df[['A', 'C']]


#Given a pandas DataFrame with columns 'Name', 'Age', and 'Gender', how would you filter the DataFrame to include only rows where the age is greater than 25?
df[df['Age'] > 25]
df.query('Age > 25')

#Given a pandas DataFrame with columns 'Name', 'Age', 'Gender', and 'Income', how would you group the data by Gender and find the average Income for each group?
df.groupby('Age')['Income'].mean()

#Given a pandas DataFrame with columns 'Name', 'Age', and 'Gender', how would you create a new column 'Age Group' that categorizes individuals into age groups of 'Under 18', '18-24', '25-34', '35-44', '45-54', and '55+' based on their age?
df['Age Group'] = pd.cut(df.Age, bins = ['Under 18', '18-24', '25-34', '35-44', '45-54', '55+'])

#How would you merge two pandas DataFrames on a common column?
pd.merge(df1, df2, on = 'column_id')

#Given a pandas DataFrame with a column of dates, how would you extract the month and year from the dates and create two new columns in the DataFrame with this information?
df['month'] = df.date_col.dt.month
df['year'] = df.date_col.dt.year

#Given a pandas DataFrame with columns 'Name', 'Address', and 'City', how would you create a new column 'Full Address' that concatenates the 'Address' and 'City' columns with a comma separating them?
df['full_address'] = pd.concat()

#How would you replace all occurrences of a specific value in a pandas DataFrame with a new value?
df.replace('old_val', 'new_val')

#Given a pandas DataFrame with a column of strings, how would you create a new column that counts the number of words in each string?

Data structures
Data cleaning
Dta pre-processing
Data wrangling
Data visualization

axis(0, 1)